---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---
<Header />

<html>
  <head>
    <title>Tech Crew</title>
	<link rel="stylesheet" href="/global.css">
  </head>
  <body>
	<div class="hero-section">
		<img src="/Tech-Crew/mainperson.jpeg" alt="Mockup" class="hero-image" />
		<div class="hero-content">
		  <h3>Impulsamos tu presencia digital!</h3>
		  <button class="cta-button">Conoce nuestras soluciones</button>
		</div>
	  </div>
  </body>
</html>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100&display=swap');

	.hero-section {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-top: 7%;
		background-color: black;
	}

	.hero-image {
		max-width: 60%;
		padding-top: 1%;
		margin-right: 25%;
	}

	.hero-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		color: white;
		padding-right: 20rem;
		margin-left: -17rem;
		max-width: 40%;
	}

	.hero-content h3 {
		font-size: 3rem;
		font-weight: 300;
		margin-bottom: 2rem;
		color: white;
	}

	.cta-button {
		background-color: #f1cd00;
		border: none;
		padding: 1rem 2rem;
		font-size: 1.2rem;
		color: black;
		cursor: pointer;
		transition: background-color 0.3s ease;
		border-radius: 5px;
	}

	.cta-button:hover {
		background-color: #fdf6f6;
	}

</style>
